
.main img{
    margin-top: 20px;
    width: 300px;
    height:200px;
    outline:2px solid rgb(255,255,255);
    outline-offset:1px;
}
.container ul {
    padding: 0px;
    margin: 3px;
    list-style: none;
    width: 300px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}
.container ul li {
    position: relative;
    margin: 3px;
    padding: 1px 1px 1px;
   /* border-bottom: 1px solid #ccc;*/
    text-align:left; 
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    color: #aaa;
}
.etc{
     text-align: right;
     margin-right: 10px;
     line-height:1.5;/*文字行间距*/
}
hr{
    border-width: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.main{
    margin-bottom: 30px;
}

.quotation{
    color: #ffffff;
    position:absolute;
    margin-left: 75px;
    width: 225px;
    height: 80px;
   -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(41, 184, 240,0.5);
    border: 2px solid #ffffff;
    text-align: left;  
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    letter-spacing:1px;/*字间距*/
    line-height:15px;/*行间距*/
}

.date{
    float: left;
    position:relative;
    width: 75px;
    height: 80px;
}
.date h4{
     color:#29B4F0; 
     text-shadow: 1px 2px 5px rgba(19, 63, 83, 0.37);
}

.YMD{
    position:relative;
    left: 0px;
    bottom: 10px;
}
/*遮罩层*/
#backbg {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
    background: #000;
    opacity: 0.6;
}
#guide{
    position:absolute; 
    z-index:52;
    top:50%; 
    left:0;
    width:100%;
    height:30px;
    line-height:30px;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ffffff), color-stop(0.05, #e5e5e5), color-stop(1, #ffffff));
    background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    padding:5px;
    color:#000;
    font-size:18px;
    font-weight:bold;
    text-align:center;
}